<div class="container-fluid">
  <hr>
  <div class="row">
    <h2 class="center index-title"><%= t('.title') %></h2>

		<p>Find me in app/views/static_pages/faq.html.erb</p>
  </div>

  <div class="row">
    <div col-md-3">


    </div>
    <div col-md-9">


    </div>
  </div>  <!-- /row -->

  <div class="row">
    <br>
    <div id="id_result" class="col-md-12"></div>
  </div>  <!-- /row -->

</div>  <!-- /container -->
